<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/notify.js"></script>
    <script src="js/ExpantaNum.js"></script>
    <script src="js/saves.js"></script>
    <script src="js/achievements.js"></script>
    <script src="js/main.js"></script>
    <script src="js/v.js"></script>

    <title>The Uninfinity Respecced</title>
</head>
<body onload="loadGame()">
    <div id='app'>
        You have <h1>{{ format(player.lengths, 1) }}</h1> ℓ<sub>P</sub><br>
        (+{{ format(FUNCTIONS.lengths.getGain(1), 1) }}/s)<br><br>
        <div class="table_center">
            <div v-for='x in TABS[1]' v-if='x.unl()'>
                <button v-on:click="TABS.chTabs(0, TABS[1].indexOf(x))" v-bind:class="{[x.style]: true}"><h2>{{ x.id }}</h2></button>
            </div>
        </div><br>
        <div v-if='player.tabs[0] == 0'>
            <button onclick="FUNCTIONS.lengths.buyAll()">MAX all</button><br><br>
            <div>
                <div class="generator" v-for="x in Object.keys(player.length_generators).length">
                    <div class="gen_part">Generator ℓ<sub>P</sub>-{{ x }} ({{ format(player.length_generators[x].boughts, 0) }})</div>
                    <div class="gen_part">x{{ format(FUNCTIONS.lengths.getMultipliers(x), 1) }}</div>
                    <div class="gen_part">{{ format(player.length_generators[x].amount, 1) }}</div>
                    <div class="gen_part">Cost: {{ format(FUNCTIONS.lengths.getGenCost(x), 0) }} ℓ<sub>P</sub></div>
                    <div class="gen_part"><button v-on:click="FUNCTIONS.lengths.buyGen(x)" v-bind:class="{closed: !FUNCTIONS.lengths.canBuy(x)}">Buy</button></div>
                </div><br><br><div class="generator">
                    <div class="gen_part">Multiplier Powers ({{ format(player.mults, 0) }})</div>
                    <div class="gen_part">x{{ format(FUNCTIONS.lengths.getMultEff().cur) }}</div>
                    <div class="gen_part">x{{ format(FUNCTIONS.lengths.getMultEff().mult) }}/pieces</div>
                    <div class="gen_part">Cost: {{ format(FUNCTIONS.lengths.getMultCost(), 0) }} ℓ<sub>P</sub></div>
                    <div class="gen_part"><button v-on:click="FUNCTIONS.lengths.buyMult()" v-bind:class="{closed: !FUNCTIONS.lengths.canBuyMul()}">Buy</button></div>
                </div><div class="generator">
                    <div class="gen_part">Metaplier Powers ({{ format(player.metas, 0) }})</div>
                    <div class="gen_part">^{{ format(FUNCTIONS.lengths.metas.effect()) }}</div>
                    <div class="gen_part">Raises Multiplier base</div>
                    <div class="gen_part">Cost: {{ format(FUNCTIONS.lengths.metas.req(), 0) }} generators ℓ<sub>P</sub>-10</div>
                    <div class="gen_part"><button v-on:click="FUNCTIONS.lengths.metas.reset()" v-bind:class="{closed: !FUNCTIONS.lengths.metas.canReset()}">Reset ℓ<sub>P</sub> generators & Multiplier Powers for get Metaplier Powers.</button></div>
                </div><div class="generator" v-if="player.upgs.sac.includes(22)">
                    <div class="gen_part">Megaplier Powers ({{ format(player.megas, 0) }})</div>
                    <div class="gen_part">^{{ format(FUNCTIONS.lengths.megas.effect()) }}</div>
                    <div class="gen_part">Raises Metaplier effect</div>
                    <div class="gen_part">Cost: {{ format(FUNCTIONS.lengths.megas.req(), 0) }} Metaplier Powers</div>
                    <div class="gen_part"><button v-on:click="FUNCTIONS.lengths.megas.reset()" v-bind:class="{closed: !FUNCTIONS.lengths.megas.canReset()}">Reset all previous ℓ<sub>P</sub> features for get Megaplier Powers.</button></div>
                </div>
            </div>
        </div><div v-if='player.tabs[0] == 1'>
            <button class="prestige_reset" v-bind:class="{closed: !FUNCTIONS.sacrifice.canReset()}" tooltip="Require 1e20 ℓ_P to reset." onclick="FUNCTIONS.sacrifice.reset()">Sacrifice ℓ<sub>P</sub> for<br>{{ format(FUNCTIONS.sacrifice.points(), 0) }}<br>Sacrifices</button>
            <br><br>You have <h2>{{ format(player.sacrifices, 0) }}</h2> Sacrifices, which multiples ℓ<sub>P</sub> generators gain by <h2>{{ format(FUNCTIONS.sacrifice.effect(), 0) }}</h2><br><br>
            <div v-for='r in UPGS.sac.rows' class="table_center">
                <div v-for='c in UPGS.sac.cols' v-if='UPGS.sac[r*10+c] != undefined'>
                    <div class="upgrade" v-if="UPGS.sac[r*10+c].unl()" v-bind:class="{closed: !UPGS.sac[r*10+c].can() && !player.upgs.sac.includes(r*10+c), unlocked: player.upgs.sac.includes(r*10+c)}" v-on:click="UPGS.buy('sac', r*10+c)">
                        <div style="height: 70px;">
                            {{ UPGS.sac[r*10+c].desc() }}
                        </div>
                        Cost: {{ format(UPGS.sac[r*10+c].cost(), 0) }} Sacrifices
                        <span v-if="UPGS.sac[r*10+c].effect"><br>Currently: {{ UPGS.sac[r*10+c].effDesc() }}</span>
                    </div>
                </div>
            </div>
        </div><div v-if='player.tabs[0] == 2'>
            Current achievement multipler on each ℓ<sub>P</sub> generators: x{{ format(ACHS.reward().lengths, 1) }}
            <div v-for='r in ACHS.rows' class="table_center">
                <div v-for='c in ACHS.cols' style="width: 60px; height: 60px;" class="{invisible: ACHS[r*10+c] == undefined}">
                    <div class="achievement" v-bind:class="{closed: !player.achs.includes(r*10+c), unlocked: player.achs.includes(r*10+c)}" v-bind:tooltip="ACHS.getText(r*10+c)" v-if="ACHS[r*10+c] != undefined">
                        <br>{{ r*10+c }}
                    </div>
                </div>
            </div>
        </div><div v-if='player.tabs[0] == 3'>
            <button onclick="save()">Save</button>
            <button onclick="if (confirm('You wanted to RESET your progress to new game?')) {wipe(); location.reload()}">WIPE</button>
            <button onclick="exporty()">Export</button>
            <button onclick="importy()">Import</button>
        </div><div v-if='player.tabs[0] == 4'>
            <div class="table_center">
                <div class="table_center" style="width: 1100px;">
                    <div class="automation" v-for="x in 10">
                        Generator ℓ<sub>P</sub>-{{ x }}<br><br>
                        Is Active: <input type="checkbox" v-model="player.automation.l_gens[x]">
                    </div><div class="automation">
                        Multiplier Powers<br><br>
                        Is Active: <input type="checkbox" v-model="player.automation.mult">
                    </div><div class="automation">
                        Meta Powers<br><br>
                        Is Active: <input type="checkbox" v-model="player.automation.meta">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>